@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #140000;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(105, 2, 2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(4, 2, 2);
  }